@model CornerStoneApp2.Models.Parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Parent's ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentID)
        </dd>



        <dt>
            @Html.Label("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.Label("Middle Initial")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidName)
        </dd>

        <dt>
            @Html.Label("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.Label("Street Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.Label("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.Label("State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.Label("Zip")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.Label("Country")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.Label("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Child ID</th>
                    <th>Child First Name</th>
                    <th>Child Middle Name</th>
                    <th>Child Last Name</th>
                    <th>Advocate ID</th>
                </tr>
                @foreach (var item in Model.Children)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChildID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvoID)
                    </td>
                </tr>
        }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
