@model IEnumerable<CornerStoneApp2.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Student 
        </th>
        <th>
            Project Manager
        </th>
        <th>
            Start Date
        </th>
        <th>
            Active
        </th>
        <th>
            Status
        </th>
        <th>
            Total Hours
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.client.parent1First + item.client.parent1Last)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.studentFirst + item.client.studentLast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalHours)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
        </td>
    </tr>
}

</table>
