@model CornerStoneApp2.Models.Child

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Child's ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildID)
        </dd>

        <dt>
            @Html.Label("Assigned Advocate(By ID)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvoID)
        </dd>

        <dt>
            @Html.Label("Assigned Project(By ID)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectID)
        </dd>



        <dt>
            @Html.Label("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.Label("Middle Initial")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidName)
        </dd>

        <dt>
            @Html.Label("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.Label("Street Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.Label("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.Label("State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.Label("Zip")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.Label("Country")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.Label("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        
       
        <dd>
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>ID</th>
                    <th>Address</th>
                </tr>
                @foreach (var item in Model.Parents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.ParentID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>

                </tr>
        }
            </table>
        </dd>
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
