@model IEnumerable<CornerStoneApp2.Models.Child>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table">
    <tr>
        <th>
            @Html.Label("Child's ID")
        </th>

        <th>
            @Html.Label("Assigned Advocate(By ID)")
        </th>
        <th>
            @Html.Label("Assigned Project(By ID)")
        </th>

        <th>
            @Html.Label("First Name")
        </th>

        <th>
            @Html.Label("Middle Initial")
        </th>

        <th>
            @Html.Label("Last Name")
        </th>
       
       
        <th>
            @Html.Label("Street Address")
        </th>

        <th>
            @Html.Label("City")
        </th>

        <th>
            @Html.Label("State")
        </th>

        <th>
            @Html.Label("Zip")
        </th>

        <th>
            @Html.Label("Country")
        </th>

        <th>
            @Html.Label("Email")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChildID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AdvoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
       
        
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>



        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChildID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChildID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChildID })
        </td>
    </tr>
}

</table>
