@model CornerStoneApp2.Models.Donation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donorFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donorFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donorLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donorLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donorZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donorZip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
